h1 {
  height: 200px;
  display: flex;
  align-items: flex-end;
  font-size: 80px;
  color: white;
  margin-bottom: 10px;
}


h2 {
  font-size: 80px;
  color: #0fa5e9;
  margin-top: 1px;
}
h2 span {
  color: white;
}

h3 {
  color: white;
  margin-bottom: 1px;
}

body {
  background-color: #171717;
}

